{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "babel-plugin-styled-components",
      {
        "ssr": false
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ],
  ]
}
